<!DOCTYPE html>
<html lang="en">

{{ block "head" . }}{{ end }}

<body>

{{ block "header" . }}{{ end }}
{{ block "main" . }}{{ end }}
{{ partial "footer.html" . }}

</body>
</html>

{{ define "head" }}
{{ partial "head.html" . }}
{{ end }}

{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}

{{ define "main" }}

<div class="row row-cols-1 row-cols-md-2 g-4">
{{ range .RegularPages }}
{{ $pageUrl := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ $pageUrlFull := (printf "/%s" $pageUrl) }}
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a href="{{ $pageUrlFull }}">{{ .Title }}</a></h5>
                <p class="card-text"><small class="text-muted">{{ .Summary }}</small></p>
            </div>
        </div>
    </div>    
{{ end }}
</div>

{{ end }}

